<!DOCTYPE html>
<html>
    <head>
        <title><%- title%></title>
    </head>
    <body>

        <div class="welcome">
       <h1>Welcome to Bite Rush</h1>
       <img src="./images/welcome.jpg" alt="Welcome Restaurant Picture" />
       <h1> Enjoy our delicious meals!</h1>
       </div>
    </body>
</html>