<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
<body>
    <h1>Confirmation</h1>
    <p>Are you sure you want to delete this meal kit?</p>
    <form action="/mealkits/remove/<%= mealKitId %>" method="post">
        <button type="submit" onclick="window.location.href='/mealkits/list'">Yes, Delete</button>
        <button type="submit" onclick="window.location.href='/mealkits/list'">No, Cancel</button>
    </form>
</body>
</html>